body{
    display:flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
#container{
    display: flex;
    width: 100%;
    flex-direction: column;
}
#header{
    display: flex;
    width: 100%;
    background-color:#FF4136;
    justify-content: space-between;
    align-items: center;
}
#image{
    align-self: center;
    display: flex;
    float: left;
    flex-wrap: wrap;
    height: 2cm;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-left: 15px;;
    font-family:Impact, Charcoal, sans-serif;
}
.responsive{
    height: auto;
    width:100%;
}
#leaters{
    height: auto;
    width:100%;
}
#content{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 710px;
    padding-top: 15px;
    margin-top: 10px;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.10)),url("./resources/slika6.jpg");
    flex-wrap: wrap;
    justify-content: center;
    background-attachment: fixed;
}
#tekst{
    display: flex;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    font-size: 54px;
    flex-shrink: inherit;
    flex-direction: column;
    align-self: center;
    align-items:center;
}
#secondContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    flex-direction: row;
    background-color:white;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.10)),url("./resources/slika2.jpg");

}
.space{
    display: flex;
    border-radius: 3px; 
    height: 8cm;
    width: auto;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
    

}
.space:hover {
    background:linear-gradient(rgba(0,0,0,0.10),rgba(0,0,0,0.15));
}
nav{
    float: right;

}
ul li{
    display: inline-block;
    list-style: none;
}
ul li button{
    padding-right: 30px;
    border: none;
    font-weight: bold;
    color: white;
    transition: all 0.5s;
    background-color: #FF4136;

}
ul li button:hover{
    color: rgb(10, 180, 158);
    text-decoration:none;
}
.footer{
    display:flex;
    width:100%;
    margin-top: 10px;
    flex-direction: column;
    background-color: #696969;
    justify-content: center;
}
.contact{
    align-self: center;
}
i {
    color: white;
    margin-right:3px;
}
.tekst2{
    color: white;
}
.text3{
    color:white;
    font-size: 40px;
}
.icons{
    display:flex;
    font-size: 24px;
    justify-content: space-evenly;

}
.differentWord{
    color: #FF4136;
}
#edit{
    font-size: 80px;

}
#search{
    font-size: 80px;
}
.link{
    display: flex;
    align-self: center;
}
.textInSpace{
    color: white;
    font-size: 30px;
}
.menu{
    position:absolute;
    right:10px;
    background-color:#FF4136 ;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:1.5cm;
    height: 1.5cm;
}
.spanMenu{
    background-color: white;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    align-self: center;
    transition: all 0.5s;

}
.spanMenu:hover{
    background-color:rgb(10, 180, 158); ;
}
.menu:hover{
    background-color:rgb(212, 39, 30) ;
}
@media (max-width: 600px){
    .menu{
        display: flex;
    }
    .navbar{
        display:none;
        width:100%;
    }
    #header{
        flex-direction: column;
    }
    ul{
        width:100%;
        padding: 0;
    }
    ul li{
        display:flex;
        flex-direction: column;
        width: 100%;
    }
    ul li button{
        width:100%;
    }
    ul li button:hover{
        background-color:rgb(212, 39, 30) ;
    }
    .navbar.active{
        display: flex;
    }
    .content{
        background-size: contain;
    }
    .searchDivsTime{
        display: flex;
        flex-direction: column;
    }
    .nameAndcontact{
        flex-direction: column;
    }
    .divNameSurname{
        flex-direction: column;
    }
}
@media(max-width: 1000px){
    .divNameSurname{
        flex-direction: column;
    }
}
.searchSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(194, 65, 53);
    border: 1px solid rgb(65, 27, 27);
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.10)),url("./resources/slika2.jpg");
}
.searchDivs{
    align-self: center;
    display: flex;
    justify-content: center;
}
.searchDivsTime{
    display: flex;
    align-self: center;
    justify-content: center;
}
#byTimeH{
    width: 1.5cm;
}
#byTimeH{
    width: 1.5cm;
}
.searcButton{
    width: 100%;
    background-color: #FF4136;
    color: white;
    font-weight: bold;
    border:none;
    margin-bottom: 0;
    border: 1px solid rgb(65, 27, 27);
}
.searcButton:hover{
    background-color: rgb(65, 27, 27);
}
.eventsContainer{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.10)),url("./resources/slika.jpg");
    background-attachment: fixed;
}
.oneEvent{
    margin: 15px;
    align-self: center;
    border: 2px solid black;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
}
.eventType{
    border-bottom:2px solid #FF4136;
    align-self: center;
    font-size: 19px;
    font-weight:bold ;
}
.eventDescription{
    align-self: center;
    border: 1px solid #FF4136;
    border-radius: 3px;
}
.eventCity{
    align-self: center;
    border-bottom:1px solid #FF4136;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 0;
    
}
.eventLocation{
    align-self: center;
    border-bottom: 1px solid #FF4136;
    font-weight: bold;
}
.eventStart{
    align-self: center;
    width: 100%;
    background-color: grey;
    font-weight: bold ;
    text-align: center;

}
.nameAndContact{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.name{
    text-align: center;
}
.date{
    align-self: center;
}
.CommentsButton{
    width:100%;
    background-color: #FF4136;
    color: white;
    border: none;
    border-bottom: 1px solid rgb(65, 27, 27);
}
.CommentsButton:hover{
    background-color: rgb(65, 27, 27);
}
.commentsSection{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding: 3px;
}
.comentSection{
    width: 80%;
    display: flex;
    align-self: center;
    border:2px solid black;
    margin: 5px;
    border-radius: 5px;
    flex-direction: column;
}
.commentText{
    border: 1px solid #FF4136;
    text-align: center;
    border-radius: 5px;
}
.tameAndDate{
    background-color: grey;
    text-align:center;
}
.NotFound{
    text-align: center;
    color: white;
    font-size: 54px;
    font-weight:bold;
}
.oneByOneDiv{
    display: flex;
    flex-direction: row;
}
.citiesAndTypes{
    display: flex;
    flex-direction: row;
    width:80%;
    align-self: center;
}
.cityAndType{
    width: 100%;
    margin:5px;
    border: 2px solid white;
    border-radius: 5px;
}
.cityAndTypeDiv{
    font-size: 45px;
    color: white;
    text-align: center;
}
.addContainer{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.10)),url("./resources/slika.jpg");
    background-attachment: fixed;
    justify-content: center;
    width: 100%;
    height: 710px;
}
.addInnerContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
    background-color: antiquewhite;
    opacity: 80%;
    border-radius: 5px;
    padding: 15px;
}
.text{
    font-size: 15px;
    font-weight: bold;
}
.divNameSurname{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.divPersonalData{
    display: flex;
    flex-direction: column;
}
.timeDiv{
    align-self: center;
    margin-top:10px;
}
.addEventButton{
    margin-top: 10px;
    font-size: 15px;
    font-weight:bold;
    border: none;

}
.addEventButton:hover{
   background-color: rgb(124, 124, 202);

}
.addComent{
    display: flex;
    justify-content: center;
}
.addComentSection{
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    align-self: center;
}
.addCommentButton{
    background-color: rgb(135, 135, 216);
    border: none;
}
.addCommentButton:hover{
    background-color: rgb(35, 35, 153);
}
